lab3/Lab1G — WST — client WSDL/src/main/java/mypackage/PersonWebService2.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab1.wst.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab1.wst.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab1.wst.com/" schemaLocation="http://localhost:8080/PersonWebService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getHumans2">
<part name="parameters" element="tns:getHumans2"></part>
</message>
<message name="getHumans2Response">
<part name="parameters" element="tns:getHumans2Response"></part>
</message>
<message name="getHumans">
<part name="parameters" element="tns:getHumans"></part>
</message>
<message name="getHumansResponse">
<part name="parameters" element="tns:getHumansResponse"></part>
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"></part>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"></part>
</message>
<message name="addHuman">
<part name="parameters" element="tns:addHuman"></part>
</message>
<message name="addHumanResponse">
<part name="parameters" element="tns:addHumanResponse"></part>
</message>
<message name="removeHuman">
<part name="parameters" element="tns:removeHuman"></part>
</message>
<message name="removeHumanResponse">
<part name="parameters" element="tns:removeHumanResponse"></part>
</message>
<message name="changeHuman">
<part name="parameters" element="tns:changeHuman"></part>
</message>
<message name="changeHumanResponse">
<part name="parameters" element="tns:changeHumanResponse"></part>
</message>
<portType name="PersonWebService">
<operation name="getHumans2">
<input wsam:Action="http://lab1.wst.com/PersonWebService/getHumans2Request" message="tns:getHumans2"></input>
<output wsam:Action="http://lab1.wst.com/PersonWebService/getHumans2Response" message="tns:getHumans2Response"></output>
</operation>
<operation name="getHumans">
<input wsam:Action="http://lab1.wst.com/PersonWebService/getHumansRequest" message="tns:getHumans"></input>
<output wsam:Action="http://lab1.wst.com/PersonWebService/getHumansResponse" message="tns:getHumansResponse"></output>
</operation>
<operation name="getPersons">
<input wsam:Action="http://lab1.wst.com/PersonWebService/getPersonsRequest" message="tns:getPersons"></input>
<output wsam:Action="http://lab1.wst.com/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"></output>
</operation>
<operation name="addHuman">
<input wsam:Action="http://lab1.wst.com/PersonWebService/addHumanRequest" message="tns:addHuman"></input>
<output wsam:Action="http://lab1.wst.com/PersonWebService/addHumanResponse" message="tns:addHumanResponse"></output>
</operation>
<operation name="removeHuman">
<input wsam:Action="http://lab1.wst.com/PersonWebService/removeHumanRequest" message="tns:removeHuman"></input>
<output wsam:Action="http://lab1.wst.com/PersonWebService/removeHumanResponse" message="tns:removeHumanResponse"></output>
</operation>
<operation name="changeHuman">
<input wsam:Action="http://lab1.wst.com/PersonWebService/changeHumanRequest" message="tns:changeHuman"></input>
<output wsam:Action="http://lab1.wst.com/PersonWebService/changeHumanResponse" message="tns:changeHumanResponse"></output>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getHumans2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getHumans">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addHuman">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeHuman">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="changeHuman">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonWebService"></soap:address>
</port>
</service>
</definitions>